AZURE_AI_PROJECT_ENDPOINT=
AZURE_AI_MODEL_DEPLOYMENT_NAME=gpt-5.2
AZURE_AI_ADVANCED_MODEL_DEPLOYMENT_NAME=gpt-5.6-sol
AZURE_OPENAI_ENDPOINT=
AZURE_TENANT_ID=
AZURE_SLM_MODEL_DEPLOYMENT_NAME=Ministral-3B
AZURE_SFT_MODEL_DEPLOYMENT_NAME=